.likitha {
      color: rgb(0, 177, 231);
}

.likitha1 {
      color: rgb(207, 59, 92);
}

.likitha2 {
      color: rgb(29, 238, 133);
}

.likitha3 {
      color: rgb(186, 216, 17);
}
label{
      color: sandybrown;
}
body{
      padding: 50px;
}